# Check for various OS openers. Quit as soon as we find one that works.
for opener in browser-exec xdg-open cmd.exe cygstart "start" open; do
	if command -v $opener >/dev/null 2>&1; then
		if [[ "$opener" == "cmd.exe" ]]; then
			# shellcheck disable=SC2139
			alias open="$opener /c start";
		else
			# shellcheck disable=SC2139
			alias open="$opener";
		fi
		break;
	fi
done

fakescan() {
 	convert -density 300 $1 -alpha remove -rotate 0.33 -attenuate 0.30 +noise Multiplicative +repage -monochrome -compress group4 $1.scanned.pdf
}

# Detect which `ls` flavor is in use
# if ls --color > /dev/null 2>&1; then # GNU `ls`
# 	colorflag="--color"
# else # OS X `ls`
# 	colorflag="-G"
# fi
#
alias ls="lsd"

# Merge PDF files
# Usage: `mergepdf -o output.pdf input{1,2,3}.pdf`
alias mergepdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

alias ga="git add"
alias gau="git add -u"
alias gaa="git add -A"
alias gco="git checkout"
alias gcob="git checkout -b"
alias gb="git branch"
alias gs="git status"
alias gu= "!f() { git add -u && git status; }; f"
alias gcm="git commit -m"
alias gp="git push"

alias dfa="dotfiles add"
alias dfb="dotfiles branch"
alias dfs="dotfiles status"
alias dfu="!f() { git add -u && git status; }; f"
alias dfp="dotfiles push"
alias dcm="dotfiles commit -m"

alias vim='nvim'
alias nv='nvim'
alias v='nvim'


# Deactivates conda before running brew. 
# Re-activates conda if it was active upon completion.

brew() {
    local conda_env="$CONDA_DEFAULT_ENV"
    while [ "$CONDA_SHLVL" -gt 0  ]; do
        conda deactivate
    done
    command brew $@
    local brew_status=$?
    [ -n "${conda_env:+x}" ] && conda activate "$conda_env"
    return "$brew_status"
}

alias gs='git status'
alias gu='git add -u && git status'
alias gr='git reset -u && git status'
alias gn='git commit -m \"$@\" && git push'

alias lv=vim
alias le=vim

alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

alias dfs='dotfiles status'
alias dfu='dotfiles add -u && dotfiles status'
alias dfn='dotfiles commit -m \"$@\" && dotfiles push'

alias pipnuke='pip freeze | grep -v @ | grep -v "^-e" | xargs pip uninstall -y'
alias chrome="/Applications/Google\\ \\Chrome.app/Contents/MacOS/Google\\ \\Chrome"
alias lst="ls -lt"

alias brewdeps='brew deps --formula --for-each $(brew leaves) | sed "s/^.*:/$(tput setaf 4)&$(tput sgr0)/"'


alias genkey='openssl rand -base64 48'

alias genargonkey= 'argon2 "$(openssl rand -base64 32)" -e -id -k 65540 -t 3 -p 4'
alias mamba=micromamba

alias llms="llama-server --fim-qwen-7b-default"


aws-mfa-login() {
  read "mfa_code?Enter MFA code: "
  creds=$(aws sts get-session-token \
    --serial-number $(aws iam list-mfa-devices --query "MFADevices[0].SerialNumber" --output text) \
    --token-code $mfa_code \
    --query "Credentials.[AccessKeyId,SecretAccessKey,SessionToken]" \
    --output text)
  export AWS_ACCESS_KEY_ID=$(echo $creds | awk '{print $1}')
  export AWS_SECRET_ACCESS_KEY=$(echo $creds | awk '{print $2}')
  export AWS_SESSION_TOKEN=$(echo $creds | awk '{print $3}')
  echo "✅ MFA session credentials set. Valid for up to 12 hours."
}


alias owu='DATA_DIR=~/.open-webui uvx --python 3.11 open-webui serve'
