[core]
	excludesfile = ~/.config/git/ignore
	quotepath = false
	autocrlf = input
	# vim as lowest common denominator; GIT_EDITOR (set in .zshenv) upgrades
	# this to nvim on machines that have it
	editor = vim
	pager = less -R
	hooksPath = ~/.config/git/hooks
[alias]
	nit = "!f() { git commit -m \"$@\" && git push; }; f"
	co = checkout
[pull]
	rebase = true
[push]
	default = current
	followTags = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[fetch]
	prune = true
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "ssh://git@hf.co"]
	insteadOf = https://huggingface.co

# Personal config (name, email, github user, project-specific includes)
[include]
	path = ~/.gitconfig.local
[credential]
	credentialStore = keychain
	azreposCredentialType = oauth
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	interactive = auto
	useHttpPath = true
[credential "azrepos:org/broadjumpllc"]
	username = justin.donaldson@gocurvo.com
	azureAuthority = https://login.microsoftonline.com/eeeae8e9-73bc-4aca-8e3b-fdaeadfc4e3a
[credential "https://huggingface.co"]
	provider = generic
