[core]
	excludesfile = ~/.gitignore
	quotepath = false
	autocrlf = input
	editor=nvim
	pager = less -R
[user]
	name = Justin Donaldson
	email = justin@hush1one.com
[github]
  user = jdonaldson
[includeIf "gitdir:~/Projects/com/"]
  path = ~/Projects/com/.gitconfig
[alias]
  nit = "!f() { git commit -m \"$@\" && git push; }; f"
  co = checkout
  default = current
[pull]
	rebase = true
[push]
	default = current
; [url "git@github.com:"]
; 	insteadOf = https://github.com/
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
